<div class="container">
  <input type="text" class="in" [(ngModel)]="inputText1" placeholder="from">
  <input type="text" class="in" [(ngModel)]="inputText2" placeholder="to">
  <p>Need Hotel?</p>
  <input type="checkbox" class="yn" [(ngModel)]="needHotel" >
  <button class="btn" (click)="search()">Search</button>
</div>
<div class="result">
  <div *ngFor = "let flight of flights">
    <app-flight [flight]="flight"></app-flight>
  </div>
  <div *ngFor = "let hotel of hotels">
    <app-hotel [hotel]="hotel"></app-hotel>
  </div>
</div>
