.container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 5% 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #a2dc4d;
  margin: 30px 0;
  background: powderblue;
  color: black;
  line-height: 1.7;
}
.btn{
  background-color: deepskyblue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
