.footer{
  width: 100%;
  height: 70vh;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  color: #FFF;
  background: #8db5f4;
  box-sizing: border-box;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
}

.footer-main{
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 5% 5% 10% 10%;
}
.footer-main-inform__title{
  font-size: 18px;
  margin-bottom: 30px;
  color: #e6e6e6;
  font-weight: 700;
}
.footer-bottom{
  width: 100%;
  font-size: 14px;
  height: 10%;
  min-height: 100px;
  text-align: center;
  background: #1c1c1c;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.footer-main-inform{
  width: 23%;
}

.footer-main-inform__description{
  width: 80%;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
.footer-main-social__link{
  color: #a2dc4d;;
  font-size: 20px;
  margin: 0 5px;
}
.footer-main-inform__link{
  margin-bottom: 5px;
}
.footer-main__information{
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
}
.footer-main__inform__link{
  height: 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.footer-main__second-icon{
  color: #a2dc4d;
  margin-right: 5px;
}
.footer-main-blog{
  display: flex;
  width: 90%;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.footer-main-blog-img{
  display: block;
  margin-right: 20px;
  width: 70px;
  height: 60px;
  /*background: url("../../assets/blog-1.jpg") no-repeat center center;*/
  background-size: cover;
}
.footer-blog-2{
  /*background: url("../../images/blog-2.jpg") no-repeat center center;*/
  background-size: cover;
}
.footer-blog-3{
  /*background: url("../../images/blog-3.jpg") no-repeat center center;*/
  background-size: cover;
}
.footer-blog-description__date{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-main-inform__address{
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
.footer-inform__contact{
  margin-bottom: 10px;
}
.footer-inform__third-icon{
  color: #a2dc4d;
  margin-right: 10px;
}

.gray{
  color: rgba(255, 255, 255, 0.7);
}
