<footer class="footer">
  <div class="footer-main">
    <div class="footer-main-inform">
      <h3 class="footer-main-inform__title">about</h3>
      <p class="footer-main-inform__description">by Shynar, Dauren and Derbes</p>

    </div>

    <div class="footer-main-inform">
      <h3 class="footer-main-inform__title">Contact data</h3>
      <p class="footer-main-inform__address">
        Qazaqstan, Almaty, Tole bi 59
      </p>
      <ul class="footer-inform__contacts">
        <li class="footer-inform__contact">
          <i class="footer-inform__third-icon icon-phone"></i>
          <span class="footer-inform__third-desc">+7 747 119 4810</span>
        </li>
        <li class="footer-inform__contact">
          <i class="footer-inform__third-icon icon-envelope"></i>
          <span class="footer-inform__third-desc">info@guding.star.kz</span>
        </li>
        <li class="footer-inform__contact">
          <i class="footer-inform__third-icon icon-location4"></i>
          <span class="footer-inform__third-desc">guding-star.kz</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <h3 class="footer-bottom__copyright">All data secured 2019 ©GuidingStar</h3>
  </div>
</footer>
