<header class = "header">
  <div class="header-top">
    <a class = "logo" href="#">Guiding Star</a>
    <nav class = "nav">
      <a class = "nav__link nav__link_active" href="#">Main</a>
      <a class = "nav__link nav__link_active" href="#">Login</a>
    </nav>
  </div>

  <div class="header-bottom">
    <div class="intro">
      <h1 class = "intro_main-text">Guiding Star - Winter is Coming</h1>
      <p class = "intro_para">Guiding Star - only one star for you</p>
      <div class="button-group">
        <button class = "button-group_button" type="button" name="button" (click)="">Hotels</button>
        <button class = "button-group_button" type="button" name="button" (click) = "">Flights</button>
      </div>
    </div>
  </div>

</header>
